<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.board.mvc.noticeboard.mappers.BoardMapper">

    <!-- 게시판 등록 -->
    <insert id="registBoard">

        insert into tbl_board(writer, boardTitle, boardContent) values (#{writer}, #{boardTitle}, #{boardContent})

    <selectKey resultType="long" keyProperty="bno" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>

    </insert>
    <!-- 게시판 등록 END -->

    <!-- 게시판 삭제 -->
    <update id ="removeBoard">
        update tbl_board set isDeleted = true where bno = #{bno}
    </update>
    <!-- 게시판 삭제 END -->

    <!-- 게시판 상세 조회 -->
    <select id = "readOneBoard" resultMap = "readOneBoardMap">
        select tb.bno, tb.writer, tb.boardTitle, tb.boardContent, tb.regDate, tb.modDate, concat(tbi.uuid, tbi.fileName) as fileNames
            from tbl_board tb left outer join tbl_board_file  tbi on tb.bno = tbi.bno
                where tb.isDeleted = false 
                      and tbi.isDeleted = false
                      and tb.bno = #{bno}
    </select>

    <resultMap type = "string" id = "readOneBoardFileMap">
        <result column = "fileNames"/>
    </resultMap>

    <resultMap id = "readOneBoardMap" type ="org.board.mvc.noticeboard.dto.ReadBoardDTO">
        <id property = "bno" column = "bno"/>
        <result property = "writer" column="writer"/>
        <result property = "boardTitle" column="boardTitle"/>
        <result property = "boardContent" column="boardContent"/>
        <result property = "regDate" column="regDate"/>
        <result property = "modDate" column="modDate"/>
        <collection property="fileNames" resultMap = "readOneBoardFileMap"/>
    </resultMap>

    <!-- 게시판 상세 조회  END-->

</mapper>